# HAP 789 Sentiment Analysis Project

## Load data and initial data prep

In [1]:
# Import library
import pandas as pd

# import data
df = pd.read_csv('./data/TrainingRecords-4-4-2024.csv')

df.head()

,commentId,comment,classification,dateCreated
0,129687,Moral of the story while the nurses are all gr...,0,2019-06-03 18:15:21.263
1,169075,If you are thinking about improving your appea...,0,2022-04-30 21:10:15.950
2,88567,but I felt that my concerns were brushed aside...,1,2015-10-12 17:05:36.043
3,147104,My tear trough filler in my left eye looked li...,1,2020-07-12 17:13:43.700
4,137347,"So, thank you Dr. Whitaker for all you have do...",0,2019-10-09 02:31:02.590

In [2]:
# drop dateCreated column
df = df.drop(columns=['dateCreated'])

# Remove duplicates based on commentId and keep the first occurrence
df = df.drop_duplicates(subset='commentId', keep='first').reset_index(drop=True)

# Drop the commentId column
df = df.drop(columns='commentId')

df.head()

                                             comment  classification
0  Moral of the story while the nurses are all gr...               0
1  If you are thinking about improving your appea...               0
2  but I felt that my concerns were brushed aside...               1
3  My tear trough filler in my left eye looked li...               1
4  So, thank you Dr. Whitaker for all you have do...               0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105783 entries, 0 to 105782
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   comment         105782 non-null  object
 1   classification  105783 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

## Text pre-processing (simple)

## Text pre-processing (complex)

## Modeling tasks